body {
    padding: 0;
    overflow: hidden;
    font-family: helvetica, arial, sans-serif;
}

.map {
  background-color: #ccc;
        position: absolute;
        left: 400px;
        right: 0;
        bottom: 0;
        top: 0;

}

.sidebar {
  overflow-y: auto;
    background-color: #eee;

position: absolute;
left: 0;
width: 400px;
bottom: 0;
top: 0;

}
